:root {
  /* base color*/
  --color-primary-dark: hsl(300, 43%, 22%);
  --color-primary-light: hsl(333, 80%, 67%);
  --color-neutral-dark: hsl(303, 10%, 53%);
  --color-neutral-light: hsl(300, 24%, 96%); 
  --color-neutral-white: hsl(0, 0%, 100%);
  --font-family-base: 'League Spartan', sans-serif;
  --font-weight-small: 400;
  --font-weight-normal: 500;
  --font-weight-bold: 700;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
